In [8]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import csv

In [9]:
url = 'http://books.toscrape.com/'

response = requests.get(url)

soup = BeautifulSoup(response.content, 'html.parser')

books = soup.find_all('article', class_='product_pod')

In [10]:
with open('books.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Title', 'Price'])

    for book in books:
        title = book.h3.a['title']
        price = book.find('p', class_='price_color').text
        # Write the title and price to the CSV
        writer.writerow([title, price])

print("Data has been successfully scraped and saved to 'books.csv'.")

Data has been successfully scraped and saved to 'books.csv'.

In [11]:
df = pd.read_csv('books.csv', encoding='ISO-8859-1')
df.head()

                                   Title   Price
0                   A Light in the Attic  £51.77
1                     Tipping the Velvet  £53.74
2                             Soumission  £50.10
3                          Sharp Objects  £47.82
4  Sapiens: A Brief History of Humankind  £54.23

In [7]:
df.shape

(20, 2)